
// $primary-green: #69cec2;
// $primary-green: #28a745;
// $primary-green: #009688;
$primary-green: #0bceaf;
// $primary-green-sm: #41bbac;

$green-light: rgb(211, 211, 211);
$primary-green-sm: $green-light;


$black-normal: #2e2e2e;

$white: #ffffff;
$black: #000000;
$gray: #d3d3d3;

$gray-shadow: #00000080;

// $font-sm : clamp(.4rem, .75rem, 1.2rem);
// $font-normal : clamp(.5rem, 1rem, 1.5rem);
// $font-sub-heading : clamp(1rem, 1.5rem, 2rem);
// $font-heading : clamp(1.5rem, 2rem, 3rem);
// $font-xl : clamp(1.6rem, 2.6rem, 3.5rem);
// $font-2xl : clamp(2rem, 4rem, 6rem);

$font-sm : .75rem;
$font-normal : 1rem;
$font-normal-md: 1.2rem;
$font-sub-heading : 1.5rem;
$font-heading : 2rem;
$font-xl : 2.6rem;
$font-2xl : 4rem;
$font-3xl : 6rem;

$tagline-family: 'Seaweed Script',display;
$heading-family: 'Playfair Display',"Times New Roman",serif;
$paragraph-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;

$section-heading: 10rem;