.footer {
  margin-top: $section-heading;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: $black-normal;
  color: $gray;
  font-size: .8rem;

  &_link {
    // letter-spacing: 1px;
    // font-family: $paragraph-family;
    // font-size: $font-sm;
    // text-transform: uppercase;
    color: $white !important;
  }
  & .container {
    text-align: center;
    display: block;
    .copyright {
      margin: 0;
      text-transform: uppercase;
      display: inline-block;
    }
    .social-icons {
      display: inline-block;
      .icon {
        font-size: 1rem;  
        padding: .5rem;
        color: $gray;
        &:hover {
          color: $primary-green;
          background-color: $white;
        }
      }
    }
  }
}